/*
Container for settings and so on
(Can be nested within another container for a full navbar
*/
.container{
    max-width:35%;
    display:grid;
    grid-template-columns: var(--a0fr) var(--a1fr) var(--a2fr) var(--a3fr) var(--a4fr) var(--a5fr);
}
.container div{
    background-color:#c88686;
    text-align:center;
}


